@import './../../assets/Colors.scss';

.products-container {
    h1 {
        text-align: center;
        font-size: 50px;
    }
    .products {
        margin-top: 0px;
        width: 100%;
        padding: 50px 0px;
        position: relative;
        top: -22px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    }
    .offer {
        background-color: $White;
        width: 400px;
        height: 500px;
        margin: auto;
        padding: 15px;
        margin-bottom: 40px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        border: 2px solid $LightGrey;
        -webkit-box-shadow: 10px 10px 33px -24px rgba(66, 68, 90, 1);
        -moz-box-shadow: 10px 10px 33px -24px rgba(66, 68, 90, 1);
        box-shadow: 10px 10px 33px -24px rgba(66, 68, 90, 1);
        color: $DarkThemeBgd;
        transition: 0.3s;
        & .price {
            display: flex;
            flex-direction: row;
            margin-top: -10px;
            float: right;
            width: 100%;
            justify-content: right;
            margin-right: 20px;
        }
        & .promo {
            text-decoration: line-through rgb(207, 7, 7) 2px;
        &::after {
            content: '\00a0';
            text-decoration: line-through white 2px;
            }
        }
        & img {
            margin: auto;
            margin-top: 25px;
            border-radius: 20px;
        }
    }
    .theme {
        &--default {
            border-bottom: 2px solid $DefaultTheme;
            border-right: 2px solid $DefaultTheme;
            &:hover {
                border: 2px solid $DefaultTheme;
            }
        }
        &--red {
            border-bottom: 2px solid $RedTheme;
            border-right: 2px solid $RedTheme;
            &:hover {
                border: 2px solid $RedTheme;
            }
        }
        &--green {
            border-bottom: 2px solid $GreenTheme;
            border-right: 2px solid $GreenTheme;
            &:hover {
                border: 2px solid $GreenTheme;
            }
        }
        &--purple {
            border-bottom: 2px solid $PurpleTheme;
            border-right: 2px solid $PurpleTheme;
            &:hover {
                border: 2px solid $PurpleTheme;
            }
        }
        &--orange {
            border-bottom: 2px solid $OrangeTheme;
            border-right: 2px solid $OrangeTheme;
            &:hover {
                border: 2px solid $OrangeTheme;
            }
        }
    }
}
