@import './../../assets/Colors.scss';

.landing-container {
    position: relative;
    top: -21px;
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url('./../../../public/caffee.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    h1 {
        position: relative;
        top: 20vh;
        font-size: 80px;
        color: $White;
        text-align: center;
        margin-top: 20px;
    }
    p {
        font-size: 20px;
        text-align: center;
        margin-top: 60vh;
        color: $White;
    }
    .theme {
        &--default {
            color: $DefaultTheme;
        }
        &--red {
            color: $RedTheme;
        }
        &--green {
            color: $GreenTheme;
        }
        &--purple {
            color: $PurpleTheme;
        }
        &--orange {
            color: $OrangeTheme;
        }
    }
}