@import './../../assets/Colors.scss';

.landing-container {
    position: relative;
    top: -21px;
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url('./../../../public/caffee.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    h1 {
        position: relative;
        top: 20vh;
        font-size: 80px;
        color: $White;
        text-align: center;
        margin-top: 20px;
    }
    p {
        position: absolute;
        font-size: 25px;
        bottom: 20px;
        color: $White;
        left: 50%;
        transform: translate(-50% , -50%);
        -webkit-transform: translate(-50%, -50%);
    }
    .theme {
        &--default {
            color: $DefaultTheme;
        }
        &--red {
            color: $RedTheme;
        }
        &--green {
            color: $GreenTheme;
        }
        &--purple {
            color: $PurpleTheme;
        }
        &--orange {
            color: $OrangeTheme;
        }
    }
}

@media screen and (max-width: 650px) {
    .landing-container {
        h1 {
            font-size: 50px;
        }
    }
}
@media screen and (max-width: 450px) {
    .landing-container {
        h1 {
            font-size: 30px;
        }
        p {
            font-size: 20px;
            width: 220px;
        }
    }
}