@import './../../assets/Colors.scss';

.header-container {
    .header {
        padding: 10px;
        background-color: $LightBlack;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        transition: 0.3s;
    }
    h1 {
        font-size: 16px;
        color: $White;
    }
    .btn {
        & img {
            height: 25px;
            margin-top: 2px;
        }
        &--admin {
            background-color: $BtnAdmin;
        }
        &:hover {
            background-color: $LightGrey;
        }
        &--admin:hover {
            background-color: $BtnAdminHover;
        }
    }
    .theme {
        &--default {
            border-bottom: 3px solid $DefaultTheme;
        }
        &--red {
            border-bottom: 3px solid $RedTheme;
        }
        &--green {
            border-bottom: 3px solid $GreenTheme;
        }
        &--purple {
            border-bottom: 3px solid $PurpleTheme;
        }
        &--orange {
            border-bottom: 3px solid $OrangeTheme;
        }
    }
}