@import './../../assets/Colors.scss';

.header-container {
    .header {
        padding: 10px;
        background-color: $blackLight;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    h1 {
        font-size: 16px;
        color: $white;
    }

    .btn {
        &--admin {
            background-color: $btnAdmin;
        }
        &:hover {
            background-color: $BtnAdminHover;
        }
    }
}