$LightBlack: #212121;
$LightGrey: #c2c2c2;
$White: #ffffff;
$BtnAdmin: #e53935;
$BtnAdminHover: #c62828;
$BtnContactHover: #f3f3f3c5;
$DarkThemeBgd: rgb(41, 41, 41);
$DefaultTheme: rgb(0, 116, 224);
$RedTheme: red;
$GreenTheme: lime;
$PurpleTheme: purple;
$OrangeTheme: orange;