@import './assets/Colors.scss';

.App {
    transition: 0.3s;
}
.container {
    padding: 10px 20px;
}
.btn {
    padding: 8px 14px;
    border: none;
    text-decoration: none;
    background: $White;
    transition: 0.3s;
    font-size: 16px;
    border-radius: 4px;
}
.dark-theme {
    background-color: $DarkThemeBgd;
    color: $White;
}
input[type='checkbox']:checked + .theme {
    &--default {
        background-color: $DefaultTheme;
        color: $White;
    }
    &--red {
        background-color: $RedTheme;
        color: $White;
    }
    &--green {
        background-color: $GreenTheme;
        color: $White;
    }
    &--purple {
        background-color: $PurpleTheme;
        color: $White;    
    }
    &--orange {
        background-color: $OrangeTheme;
        color: $White;
    }
}